@media (max-width: 860px) {
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* додаємо "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fefefe;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu-list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* меню */
  .menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu-item:hover {
    background-color: #3199c6;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu-list {
    visibility: visible;
    left: 0;
  }
/* анімація гамбургера */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu-list {
  transition-duration: .25s;
}
.menu-item {
  transition-duration: .25s;
}
.dropdown {
  position: relative;
}

.dropdown-items {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 300px;
  margin: 0;
  padding: 10px;
  list-style: none;
  background-color: #3199c6;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.dropdown:hover .dropdown-items {
  display: block;
}
}
@media (max-width: 320px) {
    .dropdown-items {
      width: 100%;
      left: 0;
      top: 100%;
      position: relative;
      text-align: center;
      align-items: center;
}
  .menu-item {
      position: relative;
      text-align: center;
      padding: 12px 0;
    }
  }



  def search
  @books = BooksIndex.query(query_string: { fields: [:title, :author], query: search_params[:query], default_operator: 'and' })

  if @books.any?
    flash.new[:notice] = "Founds {@books.count} books"
    render  @books
  else
    redirect_to books_path, notice: "Books not found."
  end
end
