*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  margin: 0;
  background:rgb(48, 125, 202);
  font-size: 22px;
  line-height: 32px;
  color: #fff;
  background-position: center;
}

a {
text-decoration: none;
color: #fff
}
.container {
max-width: 1220px;
padding: 0 20px;
margin:0 auto;
}
.header {
  background-color: #5f5e5e;;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  height: 80px;

}

.logo img {
  float: right;
  height: 60px;
  padding-right: 2rem;
  width: 6%;
  position: absolute;
  top: 0;
  right: 0;
}
.menu-list {
  display: flex;
}
.menu-item {
  margin: 0 15px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 21px;
  padding-bottom: 5px;
  border-bottom: 1px solid transparent;
  position: relative;

}
.menu-item:hover {
  border-bottom: 1px solid #fff;
 }

.dropdown:hover .dropdown-items{
  display: block;
}

  .dropdown-items {
    display: none;
    position: absolute;
    background-color: rgb(109, 109, 114);
    width: max-content; /* Щоб ширина була рівною ширині найширшого пункту */
    white-space: nowrap; /* Щоб текст не переносився на новий рядок */
  }

  .dropdown-items a {
    display: block;
    padding: 10px; /* Задаємо відступи для елементів меню */
    color: #fff;
    text-decoration: none;
  }

  .menu-item:hover .dropdown-items {
    display: block;
  }
  section {
    padding: 40px;
  }

  .logo img {
    float: right;
    height: 60px;
    padding-right: 2rem;
    width: 6%;
    position: absolute;
    margin-top: 10px;
    top: 0;
    right: 0;
    animation: animate 3s infinite;
  }

  @keyframes animate {
    0% {
      transform: perspective(23rem) rotateY(0deg);
    }
    10% {
      transform: perspective(23rem) rotateY(-65deg);
    }
    90%, 100% {
      transform: perspective(23rem) rotateY(360deg);
    }
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  footer {
    background: #7e7e7e;
    color: #dbdbdb;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1, h2 {
    text-align: center;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
